
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,700;1,800&display=swap');



body{
    background: #e9e9e9;
    font-family: poppins;
}

:root{
    --shadow-1 : 0 .125rem .25rem rgba(0,0,0,.075);
    --shadow-2 : 0 .5rem  1rem rgba(0,0,0,.15);
    --shadow-3 : 0  1rem  3rem rgba(0,0,0,.375);
}
li{
    list-style: none;
}




.student-result-data img{
    display: block;
    margin: auto;
    height: 150px;
    width: 200px;
    border: 8px solid #ddd;
    border-radius: 50%;
    box-shadow: var(--shadow-1);
}
.stu_content{
    text-align: center;
    line-height: 14px;
}